0 0 * * 5 PYTHONPATH=/app DATABASE_URL="postgresql://user:qwe123@db:5432/free_games" ZLABS_TOKEN= /usr/local/bin/python /app/free_games_email/scraper.py > /app/free_games_email/scraper.log 2>&1 && PYTHONPATH=/app DATABASE_URL="postgresql://user:qwe123@db:5432/free_games" YOUR_EMAIL= APP_PASSWORD= /usr/local/bin/python /app/free_games_email/send_email.py > /app/free_games_email/email.log 2>&1